name: Test

on: [push, pull_request]

jobs:
  staticcheck:
    name:    'staticcheck'
    runs-on: 'ubuntu-latest'
    steps:
      - uses: 'actions/checkout@v6'
      - uses: 'dominikh/staticcheck-action@v1.3.1'
        with: {version: '2025.1.1'}

  test:
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        runner: ['ubuntu-latest', 'macos-latest'] #, 'windows-latest']
        postgres: ['17', '16', '15', '14']
        go:       ['1.25', '1.18']
    steps:
    - name: check out code into the Go module directory
      uses: actions/checkout@v6

    - name: run postgres - Linux
      if: runner.os == 'Linux'
      uses: ./.github/actions/run-postgres-linux
      with:
        version: ${{ matrix.postgres }}

    - name: run postgres - MacOS
      if: runner.os == 'macOS'
      uses: ./.github/actions/run-postgres-macos
      with:
        version: ${{ matrix.postgres }}

    - name: set up go
      uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go }}
      id: go

    - name: set key perms
      run: sudo chmod 600 testdata/certs/postgresql.key

    - name: run tests
      env:
        PGUSER: postgres
        PGHOST: localhost
        PGPORT: 5432
        PQGOSSLTESTS: 1
        PQSSLCERTTEST_PATH: testdata/certs
      run: |
        PQTEST_BINARY_PARAMETERS=no go test -race ./...
        PQTEST_BINARY_PARAMETERS=yes go test -race ./...

    - name: build
      run: go build -v .
